.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: RGB(1, 61, 41) !important;
  color: #fff !important;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
  border: 1px solid RGB(1, 61, 41) !important;
}
