.cart .cart-details{
    box-shadow: 1px -2px 17px 0px rgba(0,0,0,0.38);
}



.cart .no-prod{
    margin-top:120px;
    font-size: 25px;
    color: rgb(121, 26, 26);
    font-weight: bold;
}
.cart {
    position: relative;
}
.cart .toast-btn{
    position: absolute;
    top:-40px;
    right:0;
}